{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Record{% endblock %}</h1>
{% endblock %}

{% block content %}
  <hr>
  <h1>Container Record</h1>
  <form method="POST" action="{{ url_for('container_record') }}">
    <label for="movement_id">movement_id</label>
    <input name="movement_id" id="movement_id" required>

    <select name="schedule_type" id="schedule_type" required>
        <option value="">Please select arrival or departure</option>
        <option value="Actual_start">Start Time</option>
        <option value="Actual_end">End Time</option>
        <!-- Add more options here -->
    </select>

    <div id="Actual_start_container" style="display: none;">
      <label for="Actual_start">Actual Start</label>
      <input name="Actual_start" id="Actual_start" >
    </div>
    
    <div id="Actual_end_container" style="display: none;">
      <label for="Actual_end">Actual End</label>
      <input name="Actual_end" id="Actual_end" >
    </div>

    <input type="submit" value="Record">
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const scheduleTypeSelect = document.getElementById('schedule_type');
      const actualArrivalContainer = document.getElementById('Actual_start_container');
      const actualDepartureContainer = document.getElementById('Actual_end_container');

      scheduleTypeSelect.addEventListener('change', function () {
        const selectedValue = this.value;
        if (selectedValue === 'Actual_start') {
          actualArrivalContainer.style.display = '';
          actualDepartureContainer.style.display = '';
        } else if (selectedValue === 'Actual_end') {
          actualArrivalContainer.style.display = '';
          actualDepartureContainer.style.display = '';
        } else {
          actualArrivalContainer.style.display = 'none';
          actualDepartureContainer.style.display = 'none';
        }
      });
    });
  </script>

{% endblock %}
