<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - House Listings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="main-navigation">
        <div class="container">
            <h1><a href="{{ url_for('schedule_page') }}">Apasaja Pte Ltd</a></h1>
            <ul>
                {% if "user" in session %}
                <li><span>Welcome, {{ session["user"] }}</span></li>
                <li><a href="{{ url_for('schedule_page') }}">Schedule</a></li>
                <li><a href="{{ url_for('record_page') }}">Record</a></li>
                <li><a href="{{ url_for('history') }}">History</a></li>
                <li><a href="{{ url_for('logout') }}" class="logout-button">Log Out</a></li>
                {% else %}
                
                {% endif %}
            </ul>
        </div>
    </nav>
    <section class="content container">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>
