<!DOCTYPE html>
<title>{% block title %}{% endblock %} - House Listings</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    {% if "user" in session%}
    <h1><a href="{{ url_for('rentals') }}">Container Terminal</a></h1>
    {% else %}
    <h1><a href="{{ url_for('user') }}">Container Terminal</a></h1>
    {% endif%}
    <ul>

</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>