{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}History{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="item">Item</label>
    <select name="item" id="item" required>
        <option value="">Please select an item</option>
        <option value="item1">Ship</option>
        <option value="item2">Container</option>
        <option value="item3">Berth</option>
        <option value="item4">Yard Location</option>
        <!-- Add more options here -->
    </select>

    <input type="submit" value="Search">
</form>
{% endblock %}
